#bodyStart {
    padding-bottom: 6em;
}
.main-exchange {
    padding-top: 100%;
    padding-bottom: 100%;
}
.main-exchange--index {
    width: 100%;
    height: 25vw;
    min-height: 360px;
    padding-top: 9.6%;
    padding-bottom: 29.7%;
    text-align: center;
}
.main-image--change {
    max-height: 310px;
    margin-top: 2%;
    position: relative;
    padding: 3px;
    left: calc(50% - 118px);
}
.container-button--startend {
    display: flex;
    flex-direction: initial;
    justify-content: space-evenly;
}
.main-container--start {
    position: inherit;
    justify-content: center;
    display: block;
    width: 229px;
    height: 60px;
    margin-top: 0px;
    padding: 5px;
}
.container-letters {
    margin: -5px 60px;
    margin-top: 30px;
    gap: 6px;
}
.main-container--end {
    position: inherit;
    justify-content: center;
    display: block;
    margin-top: 0px;
    padding: 5px;
    width: 229px;
    height: 60px;
}
#result {
    top: 15px;
}
#letters button{
    width: 45px;
    max-width: 70px;
    padding: 6px 0;
    text-align: center;
}
.main-span {
    top: 30px;
}
#buttonSave {
    top: 20px;
}
#buttonGame {
    top: 20px;
}
#button-reset {
    top: -20px;
}
